body {
    display: flex;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    margin: 0;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

body.dark-theme {
    --bg-light: #4e5774;
    --bg-medium: #414653;
    --bg-dark: #393d50;
    --text-light: #ffffff;
    --text-hover: #dedede;
    --accent-highlight: #2da2d8;
    --accent-nullified: #69697e;

    --overlay-dark: rgba(100, 100, 100, 0.2);
    --overlay-darker: rgba(100, 100, 100, 0.4);
}

button,
select {
    background-color: var(--overlay-dark);
    color: var(--text-light);
    border: none;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;
}

.top-nav {
    height: 40px;
    width: 100%;
    background-color: var(--bg-dark);
    display: flex;
    padding-bottom: 5px;
    flex-direction: row;
}

.nav-button {
    color: var(--text-light);
    font-weight: bolder;
    padding: 10px 8px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.nav-button.active {
    border-bottom: 2.5px solid var(--accent-highlight);
}

.nav-button:hover {
    color: var(--text-hover);
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: var(--bg-light);
}

.main-tab {
    display: none;
    width: 100%;
}

.main-tab.active {
    display: flex;
}

.channel-tab-controls {
    display: flex;
    flex-direction: row;
}

.channel-tab-button {
    background-color: var(--overlay-dark);
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-light);
    border: none;
    text-align: center;
    padding: 5px 10px;
}

.channel-tab-button.active {
    border-bottom: 2px solid var(--accent-nullified);
}

.channel-tab-button:hover,
.channel-tab-button.active {
    background-color: var(--overlay-darker);
}

.channel-list-tab {
    display: none;
    width: 100%;
    flex: 1;
}

.channel-list-tab.active {
    display: flex;
}

.sidebar {
    min-width: 300px;
    background-color: var(--bg-medium);
}

.icon {
    width: 40px;
    margin-right: 10px;
}

.messaging-section {
    flex: 1;
}
