body {
    display: flex;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    margin: 0;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

body.dark-theme {
    --bg-light: #4e5467;
    --bg-medium: #414653;
    --bg-dark: #393d50;
    --text-light: #ffffff;
    --text-hover: #dedede;
    --accent-highlight: #2da2d8;
    --accent-nullified: #69697e;

    --overlay-lighter: rgba(125, 125, 125, 0.4);
    --overlay-light: rgba(100, 100, 100, 0.4);
    --overlay-dark: rgba(75, 75, 75, 0.4);
    --overlay-darker: rgba(50, 50, 50, 0.4);

    --status-success: #00ff00;
    --status-warning: #ffff00;
    --status-critical: #ff0000;
    --status-null: #7e7e7e;
}

button,
select, input {
    all: unset;
    background-color: var(--overlay-light);
    color: var(--text-light);
    border: none;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;
}

.top-nav {
    height: 40px;
    width: 100%;
    background-color: var(--bg-dark);
    display: flex;
    padding-bottom: 5px;
    flex-direction: row;
}

.nav-button {
    color: var(--text-light);
    font-weight: bolder;
    padding: 10px 8px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.nav-button.active {
    border-bottom: 2.5px solid var(--accent-highlight);
}

.nav-button:hover {
    color: var(--text-hover);
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: var(--bg-light);
}

.main-tab {
    display: none;
    width: 100%;
}

.main-tab.active {
    display: flex;
}

.channel-tab-controls {
    width: 100%;
    margin: 0 5px;
    display: flex;
    flex-direction: row;
}

.channel-tab-button {
    background-color: var(--overlay-darker);
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-light);
    border: none;
    text-align: center;
    padding: 5px 10px;
    box-sizing: border-box;
}

.channel-tab-button.active {
    background-color: var(--overlay-light);
}

.channel-tab-button:hover {
    background-color: var(--overlay-lighter);
}


.channel-list-container {
    display: flex;
    margin: 0 5px;
    padding: 5px;
    background-color: var(--overlay-light);
}

.channel-list-tab {
    display: none;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.channel-list-tab.active {
    display: flex;
}
.channel-list-header {
    flex: 1;
    background-color: var(--overlay-dark);
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.channel-count {
    color: var(--text-light);
    font-weight: 500;
    font-size: 14px;
}
.channel-add-button {
    background-color: var(--accent-highlight);
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 3px;
    width: 8px;
    height: 8px !important;
}
.channel-add-button:hover {
    background-color: hsl(from var(--accent-highlight) h s calc(l + 10));
}
.channel-list {
    background-color: var(--overlay-darker);
    flex: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    background-color: var(--bg-medium);
}

.interface-select-container label {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-light);
    padding: 6px;
}
.interface-select-container {
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: var(--overlay-light);
    margin: 5px;
}

.profile-section-container {
    background-color: var(--overlay-darker);
    height: 70px;
    margin-top: auto;
	position: relative;
	display: flex;
	flex-direction: column;
}

.profile-section-head {
    flex: 1;
    display: flex;
    cursor: pointer;
    flex-direction: row;
    padding: 8px;
    margin: 8px;
    border-radius: 4px;
    align-items: center;
}
.profile-section-head:hover {
    background-color: var(--overlay-light);
}
.profile-section-head:active {
    background-color: var(--overlay-lighter);
}
.profile-section-status-icon {
    margin: 10px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
}
.profile-section-status-icon.online {background-color: var(--status-success);}
.profile-section-status-icon.idle {background-color: var(--status-warning);}
.profile-section-status-icon.dnd {background-color: var(--status-critical);}
.profile-section-status-icon.offline {background-color: var(--status-null);}
.profile-section-user-info {
    margin: 0 10px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    color: var(--text-light);
}
.profile-section-ip {
    font-size: 14px;
    font-weight: 700
}
.profile-section-name {
    font-size: 12px;
}
.profile-section-body {
    flex: 1;
    position: absolute;
	bottom: 80px;
	background: var(--bg-light);
	border-radius: 4px;
	box-shadow: 0 4px 12px var(--overlay-darker);
	display: none;
	flex-direction: column;
	overflow: hidden;;
	min-width: 300px;
}
.profile-section-body.open {
    display: flex;
}
.profile-setting {
    display: flex;
    font-size: 14px;
    flex: 1;
    padding: 6px;
    justify-content: space-between;
}
.profile-setting label {
    color: var(--text-light);
    font-weight: 600;
    padding: 8px;
    align-items: center;
}
.profile-setting-input {
    max-width: 50%;
    height: 18px !important;
}

.icon {
    width: 40px;
    margin-right: 10px;
}

.messaging-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}
#messages {
    flex: 1;
}
.message-input-container {
    background-color: var(--overlay-dark);
    margin-top: auto;
    display: flex;
    padding: 8px;
    gap: 8px;
}
#message-input {
    flex: 1;
}
#message-send {
    margin-right: auto;
    background-color: var(--accent-highlight);
}
#message-send:hover {
    background-color: hsl(from var(--accent-highlight) h s calc(l + 10));
}
.interface-locked {
    cursor: not-allowed;
}

