body {
    display: flex;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    margin: 0;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

body.dark-theme {
    --bg-light: #4e5774;
    --bg-medium: #414653;
    --bg-dark: #393d50;
    --text-light: #ffffff;
}

.top-nav {
    height: 40px;
    width: 100%;
    background-color: var(--bg-dark);
    display: flex;
    flex-direction: row;
}

.nav-button {
    color: var(--text-light);
    font-weight: bolder;
    padding: 10px 8px;
    text-align: center;
    align-items: center;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: var(--bg-light);
}

.main-tab {
    display: none;
    width: 100%;
}

.main-tab.active {
    display: flex;
}

.sidebar {
    min-width: 300px;
    background-color: var(--bg-medium);
}

.messaging-section {
    flex: 1;
}
